:root{ /* Trabalhando com a fonte geral*/
    font-family: "Alice", serif;
    line-height: 150%;
    text-align: justify;
    font-size: 16px;
}

body {
    background-image: url(assets/Página\ de\ receita.jpg) ; /* Imagem de background, usar parametro de url para achar da internet ou do meu computador*/
    background-size: cover; /* size para escolher o tamanho e cover para que a imagem preencha todo a página*/
}

#page {
    box-sizing: border-box; /*para retirar a soma dos 48px dos paddings*/
    width: 800px;
    padding: 24px; 
    background-color: #f0e8c2;
    border-radius: 24px;
    margin: 48px auto;

}

img {
    border-radius: 16px ;
}

h1 { /* Trabalhando apenas com a fonte de h1*/
    line-height: 140%;
    font-size: 40px;
}